<style>
  .message_content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

</style>

<div class="message_content">
  <p>Olá {{name}}</p>
  <p>Para ativar a sua conta clique no link abaixo:</p>
  <p><a href="{{link}}">Ativar a conta</a></p>
  <p>Se não foi você então descarte esse email.</p>
  <p>Obrigado!
    <strong>Equipe Igreja Segura</strong>
  </p>
</div>
